client-app/node_modules
server-app/node_modules
client-app/.pnp
client-app/.pnp.js
.idea

client-app/coverage

client-app/build

client-app/.DS_Store
client-app/.env.local
client-app/.env.development.local
client-app/.env.test.local
client-app/.env.production.local

client-app/npm-debug.log*
client-app/yarn-debug.log*
client-app/yarn-error.log*
